* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
    background-color: #282c34;
    min-height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link, .linkedin {
    text-decoration: none;
    color: #61dafb;
}



.linkedin:hover {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.barraNavegacion{
    color: white;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    width: 100vw;
}

.opciones{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 1vw;
}

.opciones a {
  margin: 0 2vw;
  list-style: none;
  cursor: pointer;
  text-decoration: none;
}

.linkNavBar{
  color: white;
  text-decoration: none;
}

.opciones li a:hover{
 color: #61dafb;
}

.logo-navbar{
  width: 5vw;
  margin: 1vw;
}

.body{
  background-color: #3c424e;
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.seraEste{
  text-align: center;
    margin-bottom: 1vw;
}

.cards-products{
  display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 40px 0 40px 0;
	gap: 40px;
}

.cards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 101vw;
}

.cards-individual{
  margin: 1vw;
  text-decoration: none;
}

.cards-individual a{
  text-decoration: none;
}

.cards-individual-fetch{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
}

.MuiPaper-root{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 200vw;
  margin: 2vw;
}

.CartWidget{
  color: white;
  width: 4vw;
  margin-top: 1vw;
}

.greeting {
  font-family: 'Balsamiq Sans', cursive;
  font-family: 'Lobster', cursive;
}

.MuiCardContent-root{
  height: 30vh;
  overflow: scroll;
  text-decoration: none;
}

.handlerCart{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.handlerButtons{
  display: inline;
  width: 10vw;
}

.handlerButtons button{
  width: 3vw;
}

.state{
  font-size: 2vw;
}

.handlerButtons button{
  margin: 0.5vw;
}

.contenedor-individual{
  display: flex;
  justify-content: center;
}

.individual{
  width: 50vw;
  margin: 1vw;
}

.individual .MuiTypography-body2{
  color: white;
  width: 40vw;
  margin: auto;
}

.MuiTypography-root{
  text-decoration: none;
}

.individual .MuiChip-root{
  color: white;
  margin: 0 1vw;
}

.individual .css-w4z10b-MuiStack-root {
  display: flex;
  justify-content: center;
}

div .MuiCardContent-root{
  max-height: 30vh;
}

.individual .css-o69gx8-MuiCardMedia-root{
  width: 20vw;
  margin: auto;
}
