* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box; }
    
    .body{
      width: 100%;
      background-color: #282c34;
      min-height: 100vh;
    }
    
    .grid{
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(10, 1fr);
    }
    
.router{
    grid-row: 1/3;
    grid-column: 1/11;
}

.barraNavegacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5vw;
}

.logo-navbar{
    width: 5vw;
}

.CartWidget{
    color: white;
    font-size: 2.5vw;
    display: flex;
    align-content: center;
    align-items: center;
}

.css-i4bv87-MuiSvgIcon-root{
  margin: 1vw;
}

fieldset .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: red;
}

.CartWidget p{
  margin: 1vw;
}

 a{
  text-decoration: none;
}

.opciones a{
    margin: 1vw 2vw;
    text-decoration: none;
    color: white;
}

.opciones a:hover{
  font-weight: 700;
}

.itemList{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.filtro{
  color: white;
  margin-top: 1.2vw;
}

.opciones-filtro label{
color:white;
}

.opciones-filtro .MuiInputBase-root{
color: white;
}

.opciones-filtro path{
color:white;
}

.opciones-filtro .css-1q60rmi-MuiAutocomplete-endAdornment{
  position: relative;
}

.greeting{
    color: white;
}

.handlerCart{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.handlerButtons button{
    margin: 0 1vw 1vw;
    width: 2.5vw;
}

.botonAnadir{
    margin-bottom: 1vw;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.cards-individual-fetch{
    width: 30vw;
}

.cards-individual{
    width: 25vw;
    margin: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-individual .MuiPaper-root{
    padding: 1vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    overflow: scroll;
    align-content: center;
    align-items: flex-end;
}

.cards-individual .MuiTypography-root .MuiTypography-h5{
    color: black;
}

.individual .MuiTypography-body2{
    color: white;
    width: 40vw;
    margin: auto;
  }
  
  .MuiTypography-root{
    text-decoration: none;
  }
  
  .individual .MuiChip-root{
    color: white;
    margin: 0 1vw;
  }
  
  .individual .css-w4z10b-MuiStack-root {
    display: flex;
    justify-content: center;
  }
  
  div .MuiCardContent-root{
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    overflow: scroll;
  }

  .individual{
    margin-top: 1.5vw;
  }
  
  .individual .css-o69gx8-MuiCardMedia-root{
    width: 20vw;
    margin: auto;
  }

  .MuiBox-root{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.cards-individual .css-h93ljk-MuiTypography-root{
    color: black;
  }

  div h1{
      color: white;
  }

  .cart{
    color: white;
    margin: 3vw 1vw;
    display: flex;
    align-items: center;
    width: 55vw;
  }

  .cart img{
    height: 25vh;
  }

  .cart-description {
    margin-left: 2vw;
    width: 30vw;
  }

  .cart-empty {
    display: flex;
    flex-direction: column;
  }

  .cart-empty a {
    color: yellow;
    font-size: 2.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 35vw;
  }

  .cart-empty a img {
    width: 10vw;
  }

  .precioTotal{
    color: white;
    font-size: 3vw;
  }

  .precioTotalArticulo{
    font-weight: 900;
  }

  .model p {
font-size: 2.6vw;
margin-bottom: 0.2vw;
  }

  .name p{
    font-size: 2vw;
    margin-bottom: 0.2vw;
    text-align: center;
  }

  .style{
    margin-bottom: 0.2vw;
  }

  .css-viou3o-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-endAdornment {
    margin: 0;
    left: 2vw;
    }

    .css-viou3o-MuiAutocomplete-root{
      display: flex;
    align-items: center;
    flex-direction: row;
    }


  .css-wb57ya-MuiFormControl-root-MuiTextField-root {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: row;
    position: relative;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: top;
    width: 100%;
}

.total-a-pagar{
    text-align: center;
    color: white;
    margin-top: 6vw;
}
